<!DOCTYPE html>
<html>
<head>
	<title>SelfieStick</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Oleo+Script|Press+Start+2P" rel="stylesheet">
</head>
<body>