<%- include('includes/header') %>

<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">SelfieStick</a>x  
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <%if(user.name==='User') { %><li><a href="/users/login">Login</a></li><%} else {%>
            <li><a href="/users/logout">Logout</a></li> <%}%>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        <h1>Welcome to SelfieStick</h1>
        <%if(user.name==='User') { %>
        <p class="lead">Here are the trending posts on the SelfieStick</p><%} else {%>
        <p class="lead">Here are the trending posts in your network</p><%}%>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h1 class="text-primary">Bought a new Samsung galaxy today !!</h1>
          <img height="200px" width="200px" src="img/1.png"/>
        </div>
      </div>
    </div>
<%- include('includes/footer') %>